
.header{
  background-color: #298BA7
}
.header h2{
  display:inline-block;
  font-size:20px;
  color:#ffffff;
  padding:10px;
}
.header a,.header button{
  text-decoration:none;
  color:#fff
}
.home,.login,.signup{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding:1% 0; 
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);

}
.home h2,.login h2,.signup h2{ 
  padding:1%;
}
.home img{
  max-width:100%;
}
.login, .signup{
  text-align: center;
}
.login .field-form,.signup .field-form {
padding:2% 5%;

}
.login .field-form label,.signup .field-form label{
width:15%;
display: inline-block;
}
.login .field-form input,.signup .field-form input {
  width:60%;
  margin-left:5%;
  border-top:none;
  border-right:none;
  border-left:none;
  
  }
  .login button,.signup button{
    color: #fff;
    background-color: #3f51b5;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    padding: 8px 16px;
    min-width: 88px;
    font-size: 0.875rem;
    box-sizing: border-box;
    min-height: 36px;
    border-radius:2px;
    margin:20px auto;
    cursor:pointer;
}

.login button:disabled,.signup button:disabled{
  color: #eee;
  cursor:not-allowed;
}
.login .error,.signup .error{
  color :red;
}
.login p.error,.signup p.error{
  color :red;
  margin:2px auto;
  margin-left:30%;
  text-align:left
}
.input#icon-button-file{
  visibility: hidden;
  width:1px;
  height:1px;
}
.main-container{
  padding: 5%;
}
.feed-col-one{
  display: inline-block;
  width:60%;
  margin-right:10%
}
.to-follow-list{
  display: inline-block;
  vertical-align: top;
  width:30%;
}
.to-follow-list .root{
  padding:2%;
}
.to-follow-list .title{
  color: #298BA7
}
.feed-col-one  .commentField,.feed-col-one .textField{
  width:70%;
}
.commentField {
  width:96%
}

.commentDate {
  display: block;
  color: gray;
  font-size: 0.8em;
}
 .commentDelete {
 
 vertical-align: middle;
 cursor: pointer;
 margin:0 5px;
 text-transform: capitalize;
}
.feed-col-one .commentDelete,.feedsList .commentDelete {
  font-size: 1em;
}
.feed-col-one .root{
  background-color:#eee;
  padding:2% 5%;
}
.feed-col-one .root{
  background-color:#eee;
  padding:2% 5%;
}
.feed-col-one .feedsList{
  margin: 2% 5%;
}
.feedsList .card{
  background-color:#eee;
  margin-bottom: 10px;
}
.feedsList .cardContent{
  background-color:#fff;
}
.main-container h3{
  padding:2%;
  color: #298BA7
}

.photo img{
  max-width:100%;
  height:auto;
}